@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerer($horizontal: true, $vertical: tru) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
    animation: $name $duration $timing-function $delay;
  }
}

@mixin animation($name, $duration, $timing-function: ease-in-out, $delay: 0s) {
  animation: $name $duration $timing-function $delay;
}
