@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerer($horizontal: true, $vertical: tru) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
    animation: $name $duration $timing-function $delay;
  }
}

@mixin animation($name, $duration, $timing-function: ease-in-out, $delay: 0s) {
  animation: $name $duration $timing-function $delay;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :          Big desktop 

$breakpoint argument choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop

1em = 16px

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if ($breakpoint == tablet-portrait) {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if ($breakpoint == tablet-landscape) {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
