*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// 100% is 16px so 62.5% is 10px
html {
  // This deifnes what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
